@keyframes loadingAnimation {
  from { background-position: 0 0; }
  to { background-position: -11220px 0; }
}

@keyframes expandAndFade {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(2); opacity: 0; } /* Xbox logo will scale and fade out */
}

.xbox {
  background-image: url('./assets/xbox-loading.png');
  background-size: auto 100%;
  animation: loadingAnimation 2s steps(35) forwards; /* Play once, stop at the end */
  animation-fill-mode: forwards;
}

.xbox.expand-fade {
    animation: expandAndFade 1s forwards; /* Xbox logo fades out and scales up */
}

@keyframes logoAnimation {
  from {background-position: 0 0;}
  to {background-position: -6720px 0;} /* Word logo animation */
}

.logo {
  background-image: url('./assets/ziqing-steam-logo.png');
  background-size: auto 100%;
  /* Chaining the two animations together */
  animation: fadeIn 2s forwards, logoAnimation 2s 2s steps(21) forwards;
  /* fadeIn will run first, then logoAnimation will start after 2 seconds */
}

.logo-exit{
  animation: fadeOut 2s forwards; /* Fade-out for the word logo */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; } /* Fade-out for the word logo */
}
